@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family_h: "vladimir script";
$font-family_p: "Lato" ;
$font-weight: 400;

$color_h1: #8C4739;
$font-size_h1 : 95px;
$margin_h1: 38px 635px 67px 635px;

$background-color_btn: #F3761E;
$padding_btn : 15px 64px; 
$font-size_btn : 31px ;
$margin_btn : 0 auto 191px auto ;
$border_btn : 41px;

$margin-bottom_separation: 139.24px;

$font-size_h2 : 75px ;
$margin-bottom_h2 : 139px;

$margin_carte : 0 4.563em 9.25em 4.5em;

$border-radius_left : 51px 0 ;

$background-color_light : #E3CFC6 ;
$margin-right_light : 77px ;


$width_fond: 100%;
$height_fond: 842px;;

$margin_pclair : 0 44px 38px 45px ;
$font-size_texte : 21px ;

$padding_img : 29px 41px 10px 41px ;

$padding_titre : 0 41px 26px 41px ;
$font-size_titre : 36px ;

$background-color_dark : #A36B5E ;
$margin-left_dark : 81px ;
$color_foncé : #622622 ;

$border-radius_right : 0 51px;
$background-color_green : #C2D07B ;
$margin_green : 107px;

$width_color : 20% ;
$height_color : 735px ;

$margin-bottom_sepa : 147px ;

$color_vert : #61781E ;

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF0;
    overflow-x: hidden;
}

a {
    color: $color_foncé !important;
    text-decoration: none !important;
    font-family: $font-family_p;
    font-size: 21px;
}

img {
    z-index: 2;
}

button {
    font-family: "vladimir script" !important;
    color: #000000 !important;
    background-color: #F3761E !important;
    border-color: #F3761E !important;
    border-radius: 43px !important;
    padding: 15px 64px !important;
    width: bla !important;
    height: auto !important;
    font-size: 31px !important;
    font-weight: 400 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset !important;
    transition: 0.5s;
    z-index: 4;
    width: auto;
  }
  button:hover {
    background-color: #C2D07B !important;
    border-color: #C2D07B !important;
  }

.container-fluid {
    display: flex;
    align-items: center;
}

.collapse {
display: flex;
justify-content: end;
text-align: center;
font-size: 21px;
width: 100%;
}

.jsp {
    width: 100%;
    margin-top: -152px;
}

.bgimg {
    position: relative;
    z-index: 0;
   top: -152px; 
   width: 100%;
}
  .navbar-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
    padding-right: 10vw;
  }

.résatable {
    display: flex;
    justify-content: end;
}
  
  .roux {
    margin-top: 80vh;
  }
  
  .gris {
    margin-top: 100vh;
  }
  
  .navbar-brand {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navbar {
    background-color: #E3CFC6;
    opacity: 80% !important;
    z-index: 1;
    position: relative;
    backdrop-filter: blur(10px);
  }
  
  .nav-link {
    font-family: "vladimir script" !important;
    font-size: 31px !important;
    font-weight: 400 !important;
    color: #4B332B !important;
  }
  
  .navbar {
    position: relative;
  }
  
  .dh {
    margin-top: 15vh;
  }
  
  .db {
    margin-top: 60vh;
}
  
.gh {
    margin-top: 20vh;
}
  
.gb {
    margin-top: 70vh;
}
  
.pattoune {
    z-index: 1;
    position: absolute;
    width: 100%;
}
  
.droite {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
  
.gauche {
    display: flex;
    align-items: left;
    flex-direction: column;
}


.page {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.btn1 {
	background-color: $background-color_btn;
    padding: $padding_btn;
    font-family: $font-family_h;
    font-size: $font-size_btn;
    margin: $margin_btn;
    border-radius: $border_btn;
    border: none;
    font-weight: $font-weight ;
}

h1 {
	font-family: $font-family_h;
    font-weight: $font-weight;
	color: $color_h1;
    display: flex;
    justify-content: center;
    font-size: $font-size_h1;
    margin: $margin_h1;
}

.separation{
    display: flex;
    width: 100%;
    height: 80.76px;
    justify-content: center;
    margin-bottom: $margin-bottom_separation;
}

h2{
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_h1 !important;
    font-size: $font-size_h2 !important;
    display: flex;
    justify-content: center;
    margin-bottom: $margin-bottom_h2;
}

.Carte{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: $width_fond;
    height: $height_fond;
    margin-bottom: $margin-bottom_sepa;
}

.RectangleG{
    border-radius: $border-radius_left;
    background-color: $background-color_light;
    margin-right: $margin-right_light;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $width_color;
    height: $height_color;
}



.right {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.orange {
    margin-top: -200px;
    z-index: 0;
    margin-left: -10px;
}

.left {
    width: 20%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.gp {
    margin-top: 150px; 
    z-index: 0;   
}

.imgcarte{
    padding: $padding_img;
    z-index: 2;
}

.hG{
    padding: $padding_titre;
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_h1;
    font-size: $font-size_titre;
}

.p{
    margin: $margin_pclair;
    font-size: $font-size_texte;
    font-family: $font-family_p;
}

.RectangleD{
    border-radius: $border-radius_left;
    background-color: $background-color_dark;
    margin-left: $margin-left_dark ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $width_color;
    height: $height_color;
}

.hD{
    padding: $padding_titre;
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_foncé ;
    font-size: $font-size_titre;
}

.RectangleM{
    border-radius: $border-radius_right;
    background-color: $background-color_green;
    width: $width_color;
    height: $height_color;
    margin-top: $margin_green;
}

.hM{
    padding: $padding_titre;
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_vert  ;
    font-size: $font-size_titre;
}

.centre{
    display: flex;
    justify-content: center;
    padding-bottom: 188px;
    padding-top: 28px;
}

.information {
    padding-top: 167.24px;
    padding-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horaire {
    display: flex;
    flex-direction: column;
    padding-left: 57px;
    color: #4B332B;
    gap: 30px;
    h2 {
        font-family: $font-family_h;
        font-size: 36px;
        font-weight: 400;
    }
    p {
        font-family: $font-family_p;
        font-size: 20px;
        font-weight: 400;
    }
}

.foter {
    background-color: #C2D07B;
    display: flex;
    justify-content: center;
    p {
        color: #4B332B !important;
        text-decoration: none !important;
        font-family: $font-family_p;
        font-size: 21px;
    }
}

.foot {
    text-align: left;
    h2 {
        display: flex;
        justify-content: left;
        font-family: $font-family_h;
        font-size: 36px !important;
        color: #000000 !important;
        font-weight: 400;
        padding-top: 38px;
    }
}
.col-4  {
    text-align: center;
}

.rs1, .rs2, .rs3{
    margin-left: 20px;
    margin-right: 20px;     
}

.rs {
    margin-right: 20px;
}

.rs3 {
    margin-left: 20px;
}