@import 'table';
@import 'carte';

$font_family_h1 : "vladimir script";
$color : #4B332B;
$font_family_p : "Lato";
$--bs-btn-color : #000000;

body{
    background-color: #FFFBF0;
    overflow-x: hidden;
}

h1 {
    font-family: $font_family_h1;
    color: $color;
}

p {
   font-family: $font_family_p;
   color: $color; 
   font-size: 21px;
   font-weight: 400;
   text-align: justify;
}

button {
    font-family: $font_family_h1 !important;
    color: #000000 !important;
    background-color: #F3761E !important;
    border-color: #F3761E !important;
    border-radius: 43px !important;
    padding: 15px 64px !important;
    width: bla !important;
    height: auto !important;
    font-size: 31px !important;
    font-weight: 400 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset !important;
    &:hover {
        background-color: #C2D07B !important;
        border-color: #C2D07B !important;
    }
}

.collapse {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 21px;
    
}

.navbar-brand{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color:#E3CFC6;
    opacity: 80%;
    z-index: 1;
    position: relative;
    backdrop-filter: blur(10px);
}  

.nav-link {
    font-family: $font_family_h1 !important; 
    font-size: 31px !important;
    font-weight: 400 !important;
    color: $color !important;
}

.bgimg {
    position: relative;
    z-index: 0;
   top: -152px; 
}

.boutton{
    display: flex;
    justify-content: flex-end;
    color: black;
}

.btn{
    margin-right: 50px;
}

.navbar-nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.roux {
    margin-top: 80vh;
}

.gris{
    margin-top: 100vh;
}

.centre{
    display: flex;
    justify-content: center;
    padding-bottom: 188px;
    padding-top: 28px;
}

.information {
    padding-top: 167.24px;
    padding-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horaire {
    display: flex;
    flex-direction: column;
    padding-left: 57px;
    color: $color;
    gap: 30px;
    h2 {
        font-family: $font_family_h1;
        font-size: 36px;
        font-weight: 400;
    }
    p {
        font-family: $font_family_p;
        font-size: 20px;
        font-weight: 400;
    }
}

.foter {
    background-color: #C2D07B;
    display: flex;
    justify-content: center;
}

.foot {
    text-align: left;
    h2 {
        font-family: $font_family_h1;
        font-size: 36px;
        font-weight: 400;
        padding-top: 38px;
    }
}
.col-4  {
    text-align: center;
}

.rs1, .rs2, .rs3{
    margin-left: 20px;
    margin-right: 20px;     
}

.rs {
    margin-right: 20px;
}

.rs3 {
    margin-left: 20px;
}