$font_family_h1 : "vladimir script";
$color : #4B332B;
$font_family_p : "Lato";
$--bs-btn-color : #000000;

*{
    margin: 0;
}

.navbar {
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.résa h1 {
    color: #8C4739;
    font-size: 75px;
    font-family: $font_family_h1;
    margin: 8px 0;
}

.résa p {
    color: #4B332B;
    font-family: $font_family_p;
    text-align: justify;
}

input {
    color: #858180;
    background-color: #E3CFC6;
    width: 732px;
    height: 68px;
    flex-shrink: 0; 
    border: none;
    display: flex;
    padding: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 115.02px;
    margin-bottom: 188px;
}

.pattoune {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.droite {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.gauche {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.dh {
    margin-top: 15vh;
}

.db{
    margin-top: 60vh;
}

.gh {
    margin-top: 20vh;
}

.gb {
    margin-top: 70vh;
}