@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFBF0;
  overflow-x: hidden;
}

a {
  color: #622622 !important;
  text-decoration: none !important;
  font-family: "Lato";
  font-size: 21px;
}

img {
  z-index: 2;
}

button {
  font-family: "vladimir script" !important;
  color: #000000 !important;
  background-color: #F3761E !important;
  border-color: #F3761E !important;
  border-radius: 43px !important;
  padding: 15px 64px !important;
  width: bla !important;
  height: auto !important;
  font-size: 31px !important;
  font-weight: 400 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset !important;
  transition: 0.5s;
  z-index: 4;
  width: auto;
}

button:hover {
  background-color: #C2D07B !important;
  border-color: #C2D07B !important;
}

.container-fluid {
  display: flex;
  align-items: center;
}

.collapse {
  display: flex;
  justify-content: end;
  text-align: center;
  font-size: 21px;
  width: 100%;
}

.jsp {
  width: 100%;
  margin-top: -152px;
}

.bgimg {
  position: relative;
  z-index: 0;
  top: -152px;
  width: 100%;
}

.navbar-nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: 2vh;
  padding-right: 10vw;
}

.résatable {
  display: flex;
  justify-content: end;
}

.roux {
  margin-top: 80vh;
}

.gris {
  margin-top: 100vh;
}

.navbar-brand {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  background-color: #E3CFC6;
  opacity: 80% !important;
  z-index: 1;
  position: relative;
  backdrop-filter: blur(10px);
}

.nav-link {
  font-family: "vladimir script" !important;
  font-size: 31px !important;
  font-weight: 400 !important;
  color: #4B332B !important;
}

.navbar {
  position: relative;
}

.dh {
  margin-top: 15vh;
}

.db {
  margin-top: 60vh;
}

.gh {
  margin-top: 20vh;
}

.gb {
  margin-top: 70vh;
}

.pattoune {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.droite {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.gauche {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn1 {
  background-color: #F3761E;
  padding: 15px 64px;
  font-family: "vladimir script";
  font-size: 31px;
  margin: 0 auto 191px auto;
  border-radius: 41px;
  border: none;
  font-weight: 400;
}

h1 {
  font-family: "vladimir script";
  font-weight: 400;
  color: #8C4739;
  display: flex;
  justify-content: center;
  font-size: 95px;
  margin: 38px 635px 67px 635px;
}

.separation {
  display: flex;
  width: 100%;
  height: 80.76px;
  justify-content: center;
  margin-bottom: 139.24px;
}

h2 {
  font-family: "vladimir script";
  font-weight: 400;
  color: #8C4739 !important;
  font-size: 75px !important;
  display: flex;
  justify-content: center;
  margin-bottom: 139px;
}

.Carte {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 842px;
  margin-bottom: 147px;
}

.RectangleG {
  border-radius: 51px 0;
  background-color: #E3CFC6;
  margin-right: 77px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 735px;
}

.right {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.orange {
  margin-top: -200px;
  z-index: 0;
  margin-left: -10px;
}

.left {
  width: 20%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.gp {
  margin-top: 150px;
  z-index: 0;
}

.imgcarte {
  padding: 29px 41px 10px 41px;
  z-index: 2;
}

.hG {
  padding: 0 41px 26px 41px;
  font-family: "vladimir script";
  font-weight: 400;
  color: #8C4739;
  font-size: 36px;
}

.p {
  margin: 0 44px 38px 45px;
  font-size: 21px;
  font-family: "Lato";
}

.RectangleD {
  border-radius: 51px 0;
  background-color: #A36B5E;
  margin-left: 81px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 735px;
}

.hD {
  padding: 0 41px 26px 41px;
  font-family: "vladimir script";
  font-weight: 400;
  color: #622622;
  font-size: 36px;
}

.RectangleM {
  border-radius: 0 51px;
  background-color: #C2D07B;
  width: 20%;
  height: 735px;
  margin-top: 107px;
}

.hM {
  padding: 0 41px 26px 41px;
  font-family: "vladimir script";
  font-weight: 400;
  color: #61781E;
  font-size: 36px;
}

.centre {
  display: flex;
  justify-content: center;
  padding-bottom: 188px;
  padding-top: 28px;
}

.information {
  padding-top: 167.24px;
  padding-bottom: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horaire {
  display: flex;
  flex-direction: column;
  padding-left: 57px;
  color: #4B332B;
  gap: 30px;
}
.horaire h2 {
  font-family: "vladimir script";
  font-size: 36px;
  font-weight: 400;
}
.horaire p {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
}

.foter {
  background-color: #C2D07B;
  display: flex;
  justify-content: center;
}
.foter p {
  color: #4B332B !important;
  text-decoration: none !important;
  font-family: "Lato";
  font-size: 21px;
}

.foot {
  text-align: left;
}
.foot h2 {
  display: flex;
  justify-content: left;
  font-family: "vladimir script";
  font-size: 36px !important;
  color: #000000 !important;
  font-weight: 400;
  padding-top: 38px;
}

.col-4 {
  text-align: center;
}

.rs1, .rs2, .rs3 {
  margin-left: 20px;
  margin-right: 20px;
}

.rs {
  margin-right: 20px;
}

.rs3 {
  margin-left: 20px;
}

/*# sourceMappingURL=carte.css.map */
