@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family_h: "vladimir script";
$font-family_p: "Lato" ;
$font-weight: 400;

$color_h1: #8C4739;
$font-size_h1 : 95px;
$margin_h1: 38px 635px 67px 635px;

$background-color_btn: #F3761E;
$padding_btn : 15px 64px; 
$font-size_btn : 31px ;
$margin_btn : 0 auto 191px auto ;
$border_btn : 41px;

$margin-bottom_separation: 139.24px;

$font-size_h2 : 75px ;
$margin-bottom_h2 : 139px;

$margin_carte : 0 4.563em 9.25em 4.5em;

$border-radius_left : 51px 0 ;

$background-color_light : #E3CFC6 ;
$margin-right_light : 77px ;


$width_fond: 100%;
$height_fond: 842px;;

$margin_pclair : 0 44px 38px 45px ;
$font-size_texte : 21px ;

$padding_img : 29px 41px 10px 41px ;

$padding_titre : 0 41px 26px 41px ;
$font-size_titre : 36px ;

$background-color_dark : #A36B5E ;
$margin-left_dark : 81px ;
$color_foncé : #622622 ;

$border-radius_right : 0 51px;
$background-color_green : #C2D07B ;
$margin_green : 107px;

$width_color : 20% ;
$height_color : 735px ;

$margin-bottom_sepa : 147px ;

$color_vert : #61781E ;

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF0;
}


.page {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.btn1 {
	background-color: $background-color_btn;
    padding: $padding_btn;
    font-family: $font-family_h;
    font-size: $font-size_btn;
    margin: $margin_btn;
    border-radius: $border_btn;
    border-color: $background-color_btn;
    font-weight: $font-weight ;
}

h1 {
	font-family: $font-family_h;
    font-weight: $font-weight;
	color: $color_h1;
    display: flex;
    justify-content: center;
    font-size: $font-size_h1;
    margin: $margin_h1;
}

.separation{
    display: flex;
    width: 100%;
    height: 80.76px;
    justify-content: center;
    margin-bottom: $margin-bottom_separation;
}

h2{
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_h1;
    font-size: $font-size_h2;
    display: flex;
    justify-content: center;
    margin-bottom: $margin-bottom_h2;
}

.Carte{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: $width_fond;
    height: $height_fond;
    margin-bottom: $margin-bottom_sepa;
}

.RectangleG{
    border-radius: $border-radius_left;
    background-color: $background-color_light;
    margin-right: $margin-right_light;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $width_color;
    height: $height_color;
}

.imgcarte{
    padding: $padding_img;
}

.hG{
    padding: $padding_titre;
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_h1;
    font-size: $font-size_titre;
}

.p{
    margin: $margin_pclair;
    font-size: $font-size_texte;
    font-family: $font-family_p;
}

.RectangleD{
    border-radius: $border-radius_left;
    background-color: $background-color_dark;
    margin-left: $margin-left_dark ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $width_color;
    height: $height_color;
}

.hD{
    padding: $padding_titre;
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_foncé ;
    font-size: $font-size_titre;
}

.RectangleM{
    border-radius: $border-radius_right;
    background-color: $background-color_green;
    width: $width_color;
    height: $height_color;
    margin-top: $margin_green;
}

.hM{
    padding: $padding_titre;
    font-family: $font-family_h;
    font-weight: $font-weight;
    color: $color_vert  ;
    font-size: $font-size_titre;
}
